# general
.hide/
hide/

.api/
.api

api.*

credentials.*
.credentials.*

credentials/*
.credentials/*

# IDEs / Editor
.vscode/
.idea/

*.iml
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Build
/build/
/dist/
/out/
/target/

*.class
*.o
*.exe

# Temp Files
*.tmp
*.temp
*.bak